/* Globale styles her */
:root {
  --content-width: 120rem;

  /*SVG*/
  --svg-paichart: <svg xmlns= "http://www.w3.org/2000/svg" width= "99" height=
    "91" viewBox= "0 0 99 91" fill= "none" > <circle cx= "23.7884" cy= "66.4388"
    r= "23.7884" fill= "#DDDDDD" / > <path d=
    "M79.3849 2.15493C79.5346 1.69428 80.1863 1.69428 80.3359 2.15493L81.2595 4.99727C81.3264 5.20328 81.5184 5.34276 81.735 5.34276H84.7236C85.208 5.34276 85.4094 5.96257 85.0175 6.24727L82.5997 8.00393C82.4244 8.13126 82.3511 8.35694 82.418 8.56295L83.3416 11.4053C83.4912 11.8659 82.964 12.249 82.5721 11.9643L80.1543 10.2076C79.9791 10.0803 79.7418 10.0803 79.5665 10.2076L77.1487 11.9643C76.7568 12.249 76.2296 11.8659 76.3793 11.4053L77.3028 8.56295C77.3697 8.35694 77.2964 8.13126 77.1212 8.00393L74.7033 6.24727C74.3115 5.96257 74.5128 5.34276 74.9972 5.34276H77.9858C78.2024 5.34276 78.3944 5.20328 78.4614 4.99727L79.3849 2.15493Z"
    fill= "#141414" / > <path d=
    "M29.698 77.5704C29.9701 77.8426 29.8456 78.3073 29.4738 78.407L19.1643 81.1694C18.7925 81.269 18.4523 80.9288 18.5519 80.557L21.3143 70.2474C21.4139 69.8757 21.8787 69.7511 22.1508 70.0233L29.698 77.5704Z"
    fill= "#4EAF4E" / > <circle cx= "91.6047" cy= "24.3936" r= "7.25703" fill=
    "#DADADA" / > <path d=
    "M31.2999 62.0914C35.1137 68.697 41.3952 73.517 48.7628 75.4911C56.1303 77.4653 63.9803 76.4318 70.5859 72.6181C77.1914 68.8043 82.0115 62.5228 83.9856 55.1552C85.9597 47.7877 84.9263 39.9377 81.1125 33.3321L56.2062 47.7118L31.2999 62.0914Z"
    fill= "#FFCC4A" / > <path d= "M55.9785 46.882V17.8397" stroke= "#141414"
    stroke-width= "2" stroke-linecap= "round" stroke-linejoin= "round" / > <path
    d= "M81.1184 32.361L30.8389 61.4033" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M27.4209 52.2065C27.0907 50.4511 26.9286 48.6682 26.9368 46.8821C26.933 40.8758 28.7935 35.0163 32.2615 30.1123C35.7295 25.2083 40.6341 21.5016 46.2984 19.5037V41.2854L27.4209 52.2065Z"
    fill= "#4EAF4E" stroke= "#141414" stroke-width= "2" stroke-linecap= "round"
    stroke-linejoin= "round" / > <path d=
    "M27.4209 52.2065C27.0907 50.4511 26.9286 48.6682 26.9368 46.8821C26.933 40.8758 28.7935 35.0163 32.2615 30.1123C35.7295 25.2083 40.6341 21.5016 46.2984 19.5037V41.2854L27.4209 52.2065Z"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > <path d=
    "M55.9787 17.8397C61.0676 17.8403 66.0671 19.178 70.4763 21.719C74.8855 24.2599 78.5497 27.9148 81.1017 32.3176C83.6538 36.7203 85.0042 41.7164 85.0176 46.8053C85.031 51.8943 83.7071 56.8974 81.1783 61.3136C78.6495 65.7298 75.0047 69.404 70.609 71.9681C66.2133 74.5323 61.221 75.8965 56.1321 75.9239C51.0432 75.9514 46.0365 74.6412 41.6133 72.1246C37.1902 69.608 33.506 65.9733 30.9297 61.5847"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > </svg>;

  --svg-chart: <svg xmlns= "http://www.w3.org/2000/svg" width= "97" height= "72"
    viewBox= "0 0 97 72" fill= "none" > <circle cx= "65.7933" cy= "27.7761" r=
    "23.7884" fill= "#EFEFEF" / > <path d=
    "M35.3661 1.8561C35.5157 1.39545 36.1674 1.39545 36.3171 1.8561L37.4627 5.38181C37.5296 5.58783 37.7216 5.72731 37.9382 5.72731H41.6454C42.1297 5.72731 42.3311 6.34711 41.9393 6.63181L38.9401 8.81082C38.7649 8.93814 38.6915 9.16383 38.7585 9.36984L39.904 12.8956C40.0537 13.3562 39.5265 13.7393 39.1346 13.4546L36.1355 11.2756C35.9602 11.1482 35.7229 11.1482 35.5477 11.2756L32.5485 13.4546C32.1567 13.7393 31.6294 13.3562 31.7791 12.8955L32.9247 9.36984C32.9916 9.16383 32.9183 8.93814 32.7431 8.81082L29.7439 6.63181C29.3521 6.34711 29.5534 5.72731 30.0378 5.72731H33.745C33.9616 5.72731 34.1535 5.58783 34.2205 5.38181L35.3661 1.8561Z"
    fill= "#FFCC4A" / > <path d=
    "M15.3689 63.9252C15.641 64.1973 15.5165 64.6621 15.1447 64.7617L4.83516 67.5241C4.46337 67.6237 4.12317 67.2835 4.22279 66.9118L6.98523 56.6022C7.08485 56.2304 7.54958 56.1059 7.82174 56.378L15.3689 63.9252Z"
    fill= "#4EAF4E" / > <circle cx= "90.7919" cy= "20.3756" r= "5.88667" fill=
    "#D0D0D0" / > <path d=
    "M77.1842 22.7028H29.6751C28.4825 22.7028 27.5156 23.6696 27.5156 24.8623V57.2548C27.5156 58.4475 28.4825 59.4143 29.6751 59.4143H77.1842C78.3768 59.4143 79.3437 58.4475 79.3437 57.2548V24.8623C79.3437 23.6696 78.3768 22.7028 77.1842 22.7028Z"
    fill= "white" stroke= "white" stroke-width= "2" stroke-linecap= "round"
    stroke-linejoin= "round" / > <path d=
    "M77.1842 22.7028H29.6751C28.4825 22.7028 27.5156 23.6696 27.5156 24.8623V57.2548C27.5156 58.4475 28.4825 59.4143 29.6751 59.4143H77.1842C78.3768 59.4143 79.3437 58.4475 79.3437 57.2548V24.8623C79.3437 23.6696 78.3768 22.7028 77.1842 22.7028Z"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > <path d=
    "M77.1842 49.1206H29.6751C28.4825 49.1206 27.5156 49.3917 27.5156 49.7261V58.8088C27.5156 59.1432 28.4825 59.4143 29.6751 59.4143H77.1842C78.3768 59.4143 79.3437 59.1432 79.3437 58.8088V49.7261C79.3437 49.3917 78.3768 49.1206 77.1842 49.1206Z"
    fill= "#4EAF4E" stroke= "#141414" stroke-width= "2" stroke-linecap= "round"
    stroke-linejoin= "round" / > <path d= "M62.0674 59.4143L70.7054 70.2118"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > <path d= "M44.7913 59.4143L36.1533 70.2118" stroke= "#141414"
    stroke-width= "2" stroke-linecap= "round" stroke-linejoin= "round" / > <path
    d= "M44.792 42.1383V48.6168" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M53.4297 37.8193V48.6168" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M62.0674 33.5004V48.6169" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M53.4297 22.7027V16.2242" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > </svg>;

  --svg-cash: <svg xmlns= "http://www.w3.org/2000/svg" width= "102" height= "72"
    viewBox= "0 0 102 72" fill= "none" > <circle cx= "73.8128" cy= "26.9973" r=
    "23.7884" fill= "#DADADA" / > <path d=
    "M94.7931 51.552C94.9428 51.0914 95.5945 51.0914 95.7441 51.552L96.6677 54.3944C96.7346 54.6004 96.9266 54.7399 97.1432 54.7399H100.132C100.616 54.7399 100.818 55.3597 100.426 55.6444L98.0079 57.401C97.8326 57.5284 97.7593 57.754 97.8262 57.96L98.7498 60.8024C98.8994 61.263 98.3722 61.6461 97.9803 61.3614L95.5625 59.6047C95.3873 59.4774 95.15 59.4774 94.9747 59.6047L92.5569 61.3614C92.165 61.6461 91.6378 61.263 91.7875 60.8024L92.711 57.96C92.7779 57.754 92.7046 57.5284 92.5294 57.401L90.1115 55.6444C89.7197 55.3597 89.9211 54.7399 90.4054 54.7399H93.394C93.6106 54.7399 93.8026 54.6004 93.8696 54.3944L94.7931 51.552Z"
    fill= "#141414" / > <path d=
    "M15.1531 38.0138C15.4252 38.286 15.3007 38.7507 14.9289 38.8503L4.61934 41.6128C4.24755 41.7124 3.90735 41.3722 4.00696 41.0004L6.76941 30.6908C6.86903 30.319 7.33376 30.1945 7.60592 30.4667L15.1531 38.0138Z"
    fill= "#4EAF4E" / > <circle cx= "48.3847" cy= "5.14449" r= "5.02144" fill=
    "#DADADA" / > <path d=
    "M80.2425 23.9062H22.0948C20.8597 23.9062 19.8584 24.9075 19.8584 26.1427V57.453C19.8584 58.6881 20.8597 59.6894 22.0948 59.6894H80.2425C81.4777 59.6894 82.479 58.6881 82.479 57.453V26.1427C82.479 24.9075 81.4777 23.9062 80.2425 23.9062Z"
    fill= "#EBEBEB" stroke= "#141414" stroke-width= "2" stroke-linecap= "round"
    stroke-linejoin= "round" / > <path d=
    "M82.5859 43.8401L64.6772 59.835L79.5859 59.835C81.2428 59.835 82.5859 58.4918 82.5859 56.835L82.5859 43.8401Z"
    fill= "#4EAF4E" stroke= "black" / > <path d=
    "M19.7539 39.6439L37.6627 23.649H22.7539C21.0971 23.649 19.7539 24.9922 19.7539 26.649V39.6439Z"
    fill= "#4EAF4E" stroke= "black" / > <path d=
    "M51.1685 50.7438C56.1091 50.7438 60.1143 46.7386 60.1143 41.798C60.1143 36.8573 56.1091 32.8522 51.1685 32.8522C46.2278 32.8522 42.2227 36.8573 42.2227 41.798C42.2227 46.7386 46.2278 50.7438 51.1685 50.7438Z"
    fill= "#FFCC4A" stroke= "#141414" stroke-width= "2" stroke-linecap= "round"
    stroke-linejoin= "round" / > <path d= "M64.5879 23.9062L82.4795 39.5614"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > <path d= "M64.5879 59.6894L82.4795 44.0343" stroke= "#141414"
    stroke-width= "2" stroke-linecap= "round" stroke-linejoin= "round" / > <path
    d= "M37.75 23.9062L19.8584 39.5614" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M37.75 59.6894L19.8584 44.0343" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > </svg>;

  --svg-coin: <svg xmlns= "http://www.w3.org/2000/svg" width= "89" height= "88"
    viewBox= "0 0 89 88" fill= "none" > <circle cx= "21.289" cy= "66.7081" r=
    "20.8965" fill= "#DADADA" / > <path d=
    "M56.6924 1.78579C56.8421 1.32514 57.4938 1.32514 57.6435 1.78579L58.7665 5.24214C58.8335 5.44815 59.0254 5.58763 59.2421 5.58763L62.8763 5.58763C63.3606 5.58763 63.562 6.20744 63.1702 6.49214L60.23 8.62828C60.0548 8.7556 59.9814 8.98129 60.0484 9.1873L61.1714 12.6436C61.3211 13.1043 60.7939 13.4874 60.402 13.2027L57.4619 11.0665C57.2866 10.9392 57.0493 10.9392 56.8741 11.0665L53.9339 13.2027C53.5421 13.4874 53.0148 13.1043 53.1645 12.6436L54.2875 9.1873C54.3545 8.98129 54.2811 8.7556 54.1059 8.62828L51.1658 6.49214C50.7739 6.20744 50.9753 5.58763 51.4596 5.58763L55.0939 5.58763C55.3105 5.58763 55.5025 5.44815 55.5694 5.24214L56.6924 1.78579Z"
    fill= "#141414" / > <path d=
    "M29.5893 68.9522C29.8614 69.2244 29.7369 69.6891 29.3651 69.7887L19.3377 72.4756C18.9659 72.5752 18.6257 72.235 18.7253 71.8632L21.4122 61.8358C21.5118 61.464 21.9765 61.3395 22.2487 61.6116L29.5893 68.9522Z"
    fill= "#4EAF4E" / > <circle cx= "73.3732" cy= "23.7543" r= "6.02949" fill=
    "#DADADA" / > <path d=
    "M63.8211 34.5193C75.0297 35.5634 83.4746 40.0161 83.4746 45.3594C83.4746 51.4704 72.4809 56.4145 58.9077 56.4145C52.8888 56.4145 47.3613 55.4319 43.0928 53.835"
    fill= "#4EAF4E" / > <path d=
    "M63.8211 34.5193C75.0297 35.5634 83.4746 40.0161 83.4746 45.3594C83.4746 51.4704 72.4809 56.4145 58.9077 56.4145C52.8888 56.4145 47.3613 55.4319 43.0928 53.835"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > <path d=
    "M14.6865 30.6193V42.9027C14.6865 49.0137 25.6802 53.9578 39.2534 53.9578C52.8266 53.9578 63.8203 49.0137 63.8203 42.9027V30.6193"
    fill= "white" / > <path d=
    "M14.6865 30.6193V42.9027C14.6865 49.0137 25.6802 53.9578 39.2534 53.9578C52.8266 53.9578 63.8203 49.0137 63.8203 42.9027V30.6193"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > <path d=
    "M39.2534 41.6744C52.8213 41.6744 63.8203 36.7249 63.8203 30.6193C63.8203 24.5137 52.8213 19.5642 39.2534 19.5642C25.6855 19.5642 14.6865 24.5137 14.6865 30.6193C14.6865 36.7249 25.6855 41.6744 39.2534 41.6744Z"
    fill= "#FFCC4A" stroke= "#141414" stroke-width= "2" stroke-linecap= "round"
    stroke-linejoin= "round" / > <path d= "M29.4268 40.7532V53.0366" stroke=
    "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin= "round" /
    > <path d=
    "M34.3408 53.743V57.6429C34.3408 63.754 45.3345 68.6981 58.9077 68.6981C72.4809 68.6981 83.4746 63.754 83.4746 57.6429V45.3595"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > <path d= "M68.7344 55.4934V67.7769" stroke= "#141414"
    stroke-width= "2" stroke-linecap= "round" stroke-linejoin= "round" / > <path
    d= "M49.0801 40.7532V67.7768" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > </svg>;

  --svg-creditcard: <svg xmlns= "http://www.w3.org/2000/svg" width= "105"
    height= "66" viewBox= "0 0 105 66" fill= "none" > <circle cx= "22.864" cy=
    "50.1579" r= "15.5573" fill= "#DADADA" / > <path d=
    "M77.7483 1.66079C77.898 1.20013 78.5497 1.20014 78.6994 1.66079L79.6648 4.63213C79.7318 4.83814 79.9237 4.97762 80.1404 4.97762H83.2646C83.749 4.97762 83.9504 5.59743 83.5585 5.88213L81.0309 7.71852C80.8557 7.84584 80.7824 8.07152 80.8493 8.27753L81.8147 11.2489C81.9644 11.7095 81.4372 12.0926 81.0453 11.8079L78.5177 9.9715C78.3425 9.84418 78.1052 9.84418 77.93 9.9715L75.4024 11.8079C75.0105 12.0926 74.4833 11.7095 74.633 11.2489L75.5984 8.27753C75.6654 8.07152 75.592 7.84584 75.4168 7.71852L72.8892 5.88213C72.4974 5.59743 72.6987 4.97762 73.1831 4.97762H76.3074C76.524 4.97762 76.7159 4.83814 76.7829 4.63213L77.7483 1.66079Z"
    fill= "#141414" / > <path d=
    "M12.1127 54.7312C12.3849 55.0033 12.2604 55.4681 11.8886 55.5677L3.84329 57.7234C3.47151 57.823 3.1313 57.4828 3.23092 57.111L5.38665 49.0658C5.48626 48.694 5.951 48.5694 6.22316 48.8416L12.1127 54.7312Z"
    fill= "#4EAF4E" / > <circle cx= "97.8173" cy= "21.6025" r= "7.05852" fill=
    "#DADADA" / > <path d=
    "M22.6826 28.5752H79.1753V54.6457C79.1753 55.7502 78.2798 56.6457 77.1753 56.6457H25.6826C24.0258 56.6457 22.6826 55.3025 22.6826 53.6457V28.5752Z"
    fill= "#FFCC4A" / > <path d=
    "M64.7803 28.1365L22.6765 28.1365L22.6765 20.6767C22.6765 19.0198 24.0196 17.6767 25.6765 17.6767L62.7803 17.6767C63.8848 17.6767 64.7803 18.5721 64.7803 19.6767L64.7803 28.1365Z"
    fill= "#4EAF4E" stroke= "#141414" stroke-width= "2" / > <path d=
    "M76.5285 17.4087H24.5833C23.388 17.4087 22.4189 18.3777 22.4189 19.5731V54.2032C22.4189 55.3986 23.388 56.3676 24.5833 56.3676H76.5285C77.7239 56.3676 78.6929 55.3986 78.6929 54.2032V19.5731C78.6929 18.3777 77.7239 17.4087 76.5285 17.4087Z"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > <path d= "M61.3779 47.7102H70.0355" stroke= "#141414"
    stroke-width= "2" stroke-linecap= "round" stroke-linejoin= "round" / > <path
    d= "M48.3916 47.7102H52.7204" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M22.4189 28.4744H78.6929" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > </svg>;

  --svg-house: <svg xmlns= "http://www.w3.org/2000/svg" width= "102" height=
    "91" viewBox= "0 0 102 91" fill= "none" > <circle cx= "24.4603" cy=
    "66.7836" r= "23.7884" fill= "#DADADA" / > <path d=
    "M74.9239 2.05337C75.0736 1.59271 75.7253 1.59271 75.875 2.05337L76.7985 4.89571C76.8655 5.10172 77.0575 5.2412 77.2741 5.2412H80.2627C80.747 5.2412 80.9484 5.86101 80.5566 6.14571L78.1387 7.90237C77.9635 8.02969 77.8902 8.25538 77.9571 8.46139L78.8806 11.3037C79.0303 11.7644 78.5031 12.1474 78.1112 11.8627L75.6934 10.1061C75.5181 9.97876 75.2808 9.97876 75.1056 10.1061L72.6877 11.8627C72.2959 12.1474 71.7686 11.7644 71.9183 11.3037L72.8419 8.46139C72.9088 8.25538 72.8355 8.02969 72.6602 7.90237L70.2424 6.14571C69.8505 5.86101 70.0519 5.2412 70.5363 5.2412H73.5249C73.7415 5.2412 73.9335 5.10172 74.0004 4.89571L74.9239 2.05337Z"
    fill= "#141414" / > <path d=
    "M16.6365 44.5787C16.9086 44.8509 16.7841 45.3156 16.4123 45.4153L6.10274 48.1777C5.73095 48.2773 5.39074 47.9371 5.49036 47.5653L8.25281 37.2557C8.35242 36.884 8.81716 36.7594 9.08932 37.0316L16.6365 44.5787Z"
    fill= "#4EAF4E" / > <circle cx= "94.0617" cy= "18.2664" r= "7.25703" fill=
    "#DADADA" / > <rect x= "29.3516" y= "57.0175" width= "51.8211" height=
    "8.02848" fill= "#4EAF4E" / > <path d=
    "M26.8965 35.1358H83.627L55.2618 17.6803L26.8965 35.1358Z" fill= "#FFCC4A"
    stroke= "#141414" stroke-width= "2" stroke-linecap= "round" stroke-linejoin=
    "round" / > <path d= "M35.625 35.1359V56.9553" stroke= "#141414"
    stroke-width= "2" stroke-linecap= "round" stroke-linejoin= "round" / > <path
    d= "M48.7158 35.1359V56.9553" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M61.8076 35.1359V56.9553" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M74.8994 35.1359V56.9553" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M29.0791 56.9552H81.4458" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > <path d=
    "M24.7148 65.6831H85.8093" stroke= "#141414" stroke-width= "2"
    stroke-linecap= "round" stroke-linejoin= "round" / > </svg>;

  /*Colors*/
  --primary-1: #ffcc4a;
  --primary-2: #4eaf4e;
  --primary-3: #181818;
  --secondary-1: #f5f5f5;
  --secondary-2: #fff;
  --text-clr: #595566;
  --heading-clr: #1c1c1c;
  --header-bg: rgba(27, 27, 27, 0.91);

  /*Button colors*/
  --defaul-1-btn-bg-clr: var(--primary-3);
  --hover-1-btn-bg-clr: var(--secondary-2);
  --defaul-2-btn-bg-clr: var(--primary-1);
  --hover-2-btn-bg-clr: #ffe5a2;

  /*border-radius*/
  --card-border-r: 1.875rem;
  --button-border-r: 2.625rem;

  /*Font-size*/
  --body-text: 1.125rem;
  --heading-1: 3.125rem;
  --heading-2: 2.81rem;
  --heading-3: 2.5rem;
  --heading-4: 2.18rem;
  --heading-5: 1.875rem;
  --heading-6: 1.56rem;

  /*Font-family*/
  --font-family: "Lato";
  --font-family-heading: "Cabin";
  /*Font-weight*/
  --font-weight: 400;
  --font-weight-heading: 600;

  /*lineHeight*/
  --body-text-lineheight: 1.475;
  --list-lineheight: 2.145;
  --heading-lineheight: 1.3;
  --button-txt-lineheight: 1.6;
}
